.lady{
    display: flex;
    gap: 20px;
    margin-left: 120px;
    margin-right: 90px;
    margin-top: 80px;

}
.container {
    position: relative;
    /* width: 50%; */
  }
  
  .image {
    opacity: 1;
    display: flex;
    width: 100%;
    /* height: auto; */
    width: "200px";
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: none;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }